<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
<!-- Requires a Gazebo simulation running -->

  <!-- Arguments for object_spawner node with defaults provided -->
  <!-- The name of the package where the .yaml cfg file is located -->
  <arg name="yaml_package_name" default="sortation_system"/>
  <!-- The relative path of the .yaml cfg file (inside the package just defined above) -->
  <arg name="yaml_relative_path" default="/config/models.yaml"/>
  <node name="object_spawner_node" pkg="object_spawner" type="object_spawner.py" output="screen">
    <!-- Load path of yaml file to parameter server -->
    <param name="yaml_package_name" type="string" value="$(arg yaml_package_name)"/>
    <param name="yaml_relative_path" type="string" value="$(arg yaml_relative_path)"/>
  </node>

</launch>
